@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto Condensed', sans-serif;
}

.my-full-height {
  height: 80hv;
  height: calc(var(--vh, 1vh) * 100);
}
